version: '3'

services:
  web:
    image: {{ registry }}/{{ image }}:latest
    container_name: {{ container }}
    restart: always
    environment:
      - VIRTUAL_HOST={{ DOMAINS | join(',') }}

    volumes:
      - {{PROJECT_ROOT}}/{{PROJECT_ACCOUNT}}/{{ DOMAINS | first }}/{{ DOCKER_ROOT }}/conf:/etc/nginx/vhost.d
      - {{PROJECT_ROOT}}/{{PROJECT_ACCOUNT}}/{{ DOMAINS | first }}/{{ DOCKER_ROOT }}/log:/var/log/nginx

networks:
  default:
    external:
      name: nginx-proxy
